.body-men {
    margin: auto;
    background-color: #D6E6FF;
    width: auto;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-women {
    margin: auto;
    background-color: #FDE2FF;
    width: auto;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-unavailable {
    background-color: #DCDCDC;
}

.card {
    width: 934px;
    height: 440px;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 10px;
}

.card-picture img {
    width: 305px;
    height: 400px;
}


.card-description {
    width: 518px;
    height: 338px;
    margin-left: 30px;
    background-color: #FFFFFF;
    flex-direction: column;
}


.description-text1-men {
    color: #002772;
    font-size: 28px;
    margin-top: 30px;
    font-weight: bold;
}


.description-text1-women {
    color: #720060;
    font-size: 26px;
    margin-top: 15px;
    font-weight: bold;
}


.card-category-text {
    font-size: 18px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    justify-content: space-around;
}

.line-hr1 {
    margin-top: 40px;
}

.card-category-text-detail {
    width: 430px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 1.5em;
    max-height: calc(1.5em * 5);
    text-overflow: ellipsis;
    word-break: break-word;
}

.card-category-price-men {
    color: #002772;
}

.card-category-price-women {
    color: #720060;
}

.btn-buy-men {

    background-color: #002772;
    color: #FFFFFF;
    width: 170px;
    border-radius: 3px;
    border-color: #002772;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
  
  
}
.btn-buy-men:hover {
    background-color:#D6E6FF;
    color: #002772;
}

.btn-buy-women {
    background-color: #720060;
    color: #FFFFFF;
    width: 170px;
    border-radius: 3px;
    border-color: #720060;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
   

}

.btn {
    display: flex;
    justify-content: center;
    margin-top: auto;

}

.btn-next-men {

    color: #002772;
    width: 170px;
    height: 40px;
    border-radius: 3px;
    border-color: #002772;
    margin-right: 30px;
    margin-top: auto;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
}

.btn-next-men:hover {
    background-color:#D6E6FF;
    color: #002772;
}

.btn-next-women {

    color: #720060;
    width: 170px;
    height: 40px;
    border-radius: 3px;
    border-color: #720060;
    margin-right: 30px;
    margin-top: auto;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;

}

.btn-next-women:hover {
    background-color:#FDE2FF;
}



@media (max-width: 600px) {
    .card {
        width: 518px;
        height: 550px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .body-unavailable{
        width: 518px;
        height: 550px;  
    }

    .card-picture img {
        width: 125px;
        height: 150px;
    }

    .card-description {
        width: 418px;
    }

    .card-category-text {
        font-size: 13px;
        margin-top: 10px;

    }

    .description-text1-men {
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
    }
    .description-text1-women {
        font-size: 15px;
        margin-top: 10px;
        font-weight: bold;
    }

}